.header-1  {
    border: 2px solid black;
    
}

.header-1 p {
    text-align:justify;
}

.header-2 {
    display: flex;
    margin-left: 1px;
    margin-top: 10px;

}
.header-2 img {
    width: 600px;
}

.header-3 img {
    width: 80px;
}
.header-3 h3 {
    color: white;
}

.header-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkblue;
    height: 100px;
    margin-top: 10px;
}